@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slight visual improvements */
body {
  @apply bg-slate-50 text-slate-800 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  height: 100%;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

.logo-loop {
  animation: floatLogo 3s ease-in-out infinite;
}

@keyframes floatLogo {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.jump {
  animation: jump 300ms ease-out;
}

@keyframes jump {
  0%, 70% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}